{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h2 class="mb-4 text-center">My Dashboard</h2>

   <!-- Nav tabs-->
    <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="services-tab" data-bs-toggle="tab" data-bs-target="#services"
            type="button" role="tab">My Services</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="my-bookings-tab" data-bs-toggle="tab" data-bs-target="#my-bookings"
            type="button" role="tab">My Bookings</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="client-bookings-tab" data-bs-toggle="tab" data-bs-target="#client-bookings"
            type="button" role="tab">Client Requests</button>
        </li>
    </ul>

        <div class="tab-content mt-3">
            <!-- Service Tab-->
            <div class="tab-pane fade show active" id="services" role="tabpanel" aria-labelledby="services-tab">
                {% if my_services %}
                    <div class="row">
                        {% for service in my_services %}
                        <div class="col-md-6 mb-3">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title">{{ service.title }}</h5>
                                    <p class="card-text"><strong>Category:</strong> {{ service.category }}</p>
                                    <a href="{% url 'edit_service' service.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
                                    <a href="{% url 'delete_service' service.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-muted">You haven't submitted any services yet.</p>
                {% endif %}
            </div>

            <!-- My bookings Tab-->
             <div class="tab-pane fade" id="my-bookings" role="tabpanel" aria-labelledby="my-bookings-tab">
                {% if my_bookings %}
                    <ul class="list-group">
                        {% for booking in my_bookings %}
                        <li class="list-group-item">
                            You booked <strong>{{ booking.service.title }}</strong> for <em>{{ booking.requested_date }}</em>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-muted">You haven't made any bookings yet.</p>    
                {% endif %}    
             </div>

             <!-- Client Bookings Tab-->
            <div class="tab-pane fade" id="client-bookings" role="tabpanel" aria-labelledby="client-bookings-tab">
                {% if bookings_on_my_services %}
                    <ul class="list-group">
                        {% for booking in bookings_on_my_services %}
                        <li class="list-group-item d-flex justify-content-between align-items-center" >
                            <span>
                             <strong>{{ booking.client.username }}</strong> booked your service <strong> {{ booking.service.title }}</strong> ({{ booking.status }})   
                            </span>
                         {% if booking.id %}
                         <form method="POST" action="{% url 'cancel_booking' booking.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-outline-danger"
                                onclick="return confirm('Are you sure you want to cancel this booking?')">Cancel</button>
                         </form> 
                         {% endif %}  
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-muted">No clients have booked your services</p>
                {% endif %}
            </div>
        </div>
</div>
{% endblock %}